@media screen and (min-width: 480px ) {
    

    .mob-menu-tell {
        font-size: 36px;
        line-height: calc(40 / 36);
    }
        

    .mob-menu-soc-list {
        gap: 56px;
    }

    .hero {
        background-image: var(--l-hero-gra),
            url(../images/tab-bg.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--l-hero-gra),
                url(../images/tab-bg2x.jpg);
        }
    }

    .hero-title {
        max-width: 318px;
        /*max-height: 80px;*/
        font-weight: 700;
        font-size: 34px;
        line-height: calc(40 /34);
    }
    
    .modal {
        width: 408px;
        padding: 24px;
        padding-top: 72px;
    }
    .modal-close-btn {
        top: 24px;
        right: 24px;
    }
    .modal-title{
        font-size: 16px;
        line-height: 1.5;
    }
    .modal-field {
        margin-bottom: 16px;
    }
    .checkbox-text::before {
        height: 16px;
    }
    

    
}