@media screen and (min-width: 768px) {
    .container {
            max-width: 767px;
        }
    
        .hero-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
        }
    
        .open-mob-menu {
            display: none;
        }
    
        .nav-list {
            display: flex;
            gap: 40px;
        }
    
        .address-list {
            display: block;
            flex-wrap: wrap;
            gap: 4px;
        }

        .hero {
            background-image: var(--l-hero-gra),
            url(../images/tab-bg.jpg);
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: var(--l-hero-gra),
                    url(../images/tab-bg2x.jpg);
            }
        }
    
        .hero-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            width: 500px;
        }
    
        .features-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
        }
    
        .features-item {
            margin-bottom: 0px;
            width: calc((100% - 24px) / 2);
        }
    
        .customers {
            padding-left: 108px;
            padding-right: 108px;
        }
    
        .customers-item {
            width: calc((100% - 2 * 24px) / 3);
            /* width: 190px; */
            height: 88px;
        }
    
        .container-team {
            max-width: 767px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .footer-tab-up {
            display: flex;
            justify-content: flex-start;
            gap: 24px;
            margin-bottom: 72px;
            margin-left: 108px;
        }
    
        .footer-logo-text {
            width: 264px;
            height: 110px;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    
        .footer-soc {
            width: 208px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    
        .footer-icon-link {
            text-align: left;
        }
    
        .footer-e-mail-input {
            text-align: left;
            margin-left: 108px;
        }
    
        .footer-subscribe {
            display: flex;
            gap: 24px;
        }
    
        .footer-input {
            margin-bottom: 0;
        }
    
        .footer-submit-btn {
            margin-left: 0;
            margin-right: 0;
        }
    
        .modal {
            min-width: 408px;
        }
}
